<ul>
  <li><a href="#presentation">presentation</a></li>
  <li><a href="#Q&A">Question and Answers</a></li>
  <li><a href="#corporate">Corparate Participants</a></li>
  <li><a href="#conference">Conference Call Participants</a></li>
</ul>
<div id="presentation" style="border: 3px solid black;margin: 30px;padding:50px;">
<h1 style="text-align: center;">Presentation</h1>

<div  *ngFor ='let data of data?.presentation'>
  <hr>
  
  <h3>{{data.participant_name}}</h3>
  <p style="font-family: Arial, Helvetica, sans-serif">{{data.participant_designation}}</p>
  <div *ngFor="let text of data.transcript_data">
    <p>{{text}}</p>
  </div>
  
</div>
</div>
<div class="" id="Q&A" style="border: 3px solid black;margin: 30px;padding:50px;">
  <h1 style="text-align: center;">Question & Answers</h1>

  <div  *ngFor ='let data of data?.questions_and_answers'>
    <hr>
    <h3>{{data.participant_name}}</h3>
    <p style="font-family: Arial, Helvetica, sans-serif">{{data.designation}}</p>
    <div *ngFor="let text of data.transcript_data">
      <p>{{text}}</p>
    </div>
    
  </div>

</div>
<div class="" id="corporate" style="border: 3px solid black;margin: 30px;padding:50px;">
  <h1 style="text-align: center;">Corporate Participants</h1>

  <div  *ngFor ='let data of data?.participants.executives'>
    <hr>
    <h3>{{data.name}}</h3>
    <p style="font-family: Arial, Helvetica, sans-serif">{{data.designation}}</p>
    
  </div>
</div>
<div class="" id="conference" style="border: 3px solid black;margin: 30px;padding:50px;">
  <h1 style="text-align: center;">Conference Call Participants</h1>

  <div  *ngFor ='let data of data?.participants.analyst'>
    <hr>
    <h3>{{data.name}}</h3>
    <p style="font-family: Arial, Helvetica, sans-serif">{{data.designation}} | {{data.company}}</p>
    
  </div>
</div>